.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: '10px';
}
.makeStyles-media-21 {
  padding-top: 0 !important; // Sobrescribe el valor a 0
}